@import "tailwindcss";

@theme {
  --color-luxury-cream: #FDFBF7;
  --color-luxury-white: #FFFFFF;
  --color-luxury-gray: #F3F1EC;
  --color-luxury-border: #E8E5DD;
  --color-luxury-text: #1A1A1A;
  --color-luxury-muted: #666666;
  --color-cyber-cyan: #0096C7; 
  --color-cyber-blue: #023E8A;
  --color-cyber-red: #D00000;
}

body {
  background-color: var(--color-luxury-cream);
  color: var(--color-luxury-text);
}
